:host{
    .listagem{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        padding: 20px 0px;    
    }
    .pokemon{
        position: relative;
        display: flex;
        width: calc(49% - 40px);
        height: 117px;
        background-color: var(--branco);
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--primary-color);
    }
    .pokemon__status {
        h2 {
            font-size: 22px;
            font-style: italic;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        ul{
            display: flex;
            flex-direction: column;

            li{
                background: var(--cinza);
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 60px;
                width: 60px;
                margin-bottom: 5px;
            }
        }
    }
    .pokemon__image{
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 90px;
        width: 110px;

        bottom: 20px;
        right: 20px;

        background: url('../../../assets/bg/poke-list-bg.svg') no-repeat;

        img{
            width: 60px;
        }
    }
}